<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/css/admin_styles.css">
</head>
<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <p align="center">Welcome, {{ session['username'] }}!</p>
        <a href="{{ url_for('manage_material') }}">Manage Material</a>
        <a href="{{ url_for('manage_inventory') }}">Manage Inventory</a>
        <a href="{{ url_for('manage_category') }}">Manage Category</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
