<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfit Recommendation</title>
</head>
<body>
    <h1>Outfit Recommendation</h1>
    <p>Predicted Skin Tone: {{ predicted_tone }}</p>
    <p>Recommended Colors:
        {% if predicted_tone == 'Black' %}
            Maroon, Navy, Emerald
        {% elif predicted_tone == 'Brown' %}
            Olive Green, Burnt Orange, Mustard Yellow
        {% elif predicted_tone == 'Dark-brown' %}
            Dark Browns, Warm Colors
        {% elif predicted_tone == 'Olive' %}
            Pastels, Soft Blues, Lavender
        {% elif predicted_tone == 'White' %}
            Peach, Light Turquoise, Coral
        {% else %}
            Neutral Colors
        {% endif %}
    </p>
</body>
</html>
